.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}

.modal header img {
    cursor: pointer;
    width: 30px;
}

.modal header h1 {
    font-size: 3rem;
    font-weight: normal;
    color: black;
}

#contact_modal {
    position: absolute;
    top: 5%;
    width: 100%;
    animation: modalopen 800ms;
    z-index: 1;
}

#contact_modal textarea {
    width: 100%;
    height: 7rem;
}

#contact_modal[closing] {
    animation: modalclose 800ms;
}

#contact_modal[aria-hidden=false]::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1000%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: -20%;
    z-index: -1;
}

/* FORM */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData {
    width: 100%;
}

form label {
    color: #312E2E;
    margin: 5px 0px;
    /* font-size: 36px; */
}

form input {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}


@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
    }
}

@keyframes modalclose {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(-150px);
        opacity: 0;
    }
}