.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#contact_modal {
    position: absolute;
    top: 5%;
    width: 100%;
    animation: modalopen 800ms;
}

#contact_modal textarea {
    width: 100%;
    height: 7rem;
}

#contact_modal[closing] {
    animation: modalclose 800ms;
}

/* FORM */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData {
    width: 100%;
}

form label {
    color: #312E2E;
    /* font-size: 36px; */
}

form input {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}


@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
    }
}

@keyframes modalclose {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(-150px);
        opacity: 0;
    }
}