.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.lightbox button {
    text-indent: -3000px;
    border: none;
    opacity: 0.5;
    transition: 300ms;
    cursor: pointer
}

.prevButton,
.nextButton {
    background: url(../assets/icons/chevron.svg) center center / 27px 27px no-repeat;
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 10px;
}

.prevButton {
    left: 10px;
    transform: rotate(180deg);
}

.lightbox button:hover {
    opacity: 1;
}

.closeButton {
    background: url(../assets/icons/close.svg) center center / 21px 21px;
    width: 21px;
    height: 21px;
    top: 10px;
    position: fixed;
    right: 10px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 50px;
}

.imageContainer img {
    max-width: 100%;
}