#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.priceCard {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    font-weight: 500;
    z-index: 2;
}

.dropdown_wrapper {
    margin: 0 100px;
}

.thumbs_gallery {
    margin: 20px 100px;
}

.thumbs_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.thumbs_gallery a {
    text-decoration: none;
    color: var(--primary-color);
}

.thumbs_gallery img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.likes {
    font-weight: 600;
}

.captionAndLikes,
.likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thumbs_gallery video {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

/* HEART */
.heart {
    background-color: var(--primary-color);
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
    cursor: pointer;
}

.heart:before,
.heart:after {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.heart:before {
    top: -5px;
    left: 0;
}

.heart:after {
    left: 5px;
    top: 0;
}

.heart:hover,
.heart:hover:before,
.heart:hover:after {
    box-shadow: inset 0px 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.contact_button,
.dropdown {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.dropdown_wrapper label {
    margin: 0 10px;
}

.dropdown option:after {
    content: " ";
    border-top: 2px white solid;
}