@import url("reset.css");
@import url("photographer.css");

:root {
    --primary-color: #901C1C;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    text-decoration: none;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

/* .photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
} */

.user {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article :nth-child(2) {
    color: #901C1C;
    font-weight: 500;
}

.photographer_section article :nth-child(3) {
    text-align: center;
    font-weight: 500;
}

.photographer_section article :last-child {
    color: #757575;
}