@import url("reset.css");
@import url("photographer.css");

:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

header h1 {
    color: var(--primary-color);
    font-size: 2rem;
}

h1 {
    color: var(--secondary-color);
    font-size: 64px;
}

h2 {
    color: var(--secondary-color);
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

@media (max-width:850px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:650px) {
    .photographer_section {
        grid-template-columns: 1fr;
    }
}

.photographer_section article {
    justify-self: center;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    text-decoration: none;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

/* .photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
} */

.user {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article :nth-child(3) {
    text-align: center;
    font-weight: 500;
}

.photographer_section article>* {
    margin: 5px;
}

.photographer_location {
    color: var(--primary-color);
}

.photographer_section p:last-child {
    color: #757575;
}